<p id="notice"><%= notice %></p>

<h1>Businesses</h1>

<div>
  <% @businesses.each do |business| %>
      <td><%= link_to business.category.name, business.category %></td>
      <td><%= link_to business.subcategory.name, business.subcategory %></td>
      <strong><%= link_to business.name.upcase, business %></strong>
      <td><%= business.description %></td>
      <td><%= business.address + " " + business.street%></td>
      <td>
        <% if business.website? %>
          <%= link_to business.website, business.website %>
        <% end %>
      </td>
    </tr>
  <% end %>
</div>

<br>

<%= link_to 'New Business', new_business_path %>
