<p id="notice"><%= notice %></p>

<h1>Businesses</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Website</th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= link_to business.category.name, business.category %></td>
        <td><%= link_to business.subcategory.name, business.subcategory %></td>
        <td><%= link_to business.name, business %></td>
        <td><%= business.description %></td>
        <td><%= business.address + " " + business.street%></td>
        <td>
          <% if business.website? %>
            <%= link_to business.website, business.website %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
