<i>
<%= link_to "All Categories", categories_path %> >
<%= link_to @subcategory.category.name, @subcategory.category %> >
<%= @subcategory.name %>
</i>

<p id="notice"><%= notice %></p>

<h1><%= @subcategory.name %></h1>

<%= render :partial => "layouts/business-results", :locals => { :results => @subcategory.businesses } %>

