<p id="notice"><%= notice %></p>

<i>Category show page</i>
<h1><%= @category.name %></h1>

<p>
	<strong>subcategories</strong>
</p>
<div class="categories">
	<% @category.subcategories.each do |subcat| %>
		<%= link_to subcat do %>
			<div class="category-tile">
				<div class="category-button">
					<%= subcat.name.upcase %>
				</div>
			</div>
		<%end%>
	<%end%>
</div>
<p>
	<strong>Businesses</strong>
</p>

<div class="business-results">
	<% @category.businesses.each do |business| %>
		<%= link_to business do %>
			<div class="business-result">
		    <strong>
		    	<%= business.name.upcase %>
		    </strong>
		    <br/>
		    <i>
		    	<%= business.category.name %>, 
		    	<%= business.subcategory.name %>
		    </i>
				<br/>
		    <%= business.address + " " + business.street%>
		    <br/>
		    Today's Hours: 9am - 5pm
				<% if business.website? %>
					<%= link_to business.website, business.website %>
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>


<%= link_to 'Back', categories_path %>
