<i>
	<%= link_to "All Categories", categories_path %> >
	<%= @category.name %>
</i>

<h1><%= @category.name %></h1>

<%= render :partial => "layouts/categories", :locals => { :categories => @category.subcategories } %>

<%= render :partial => "layouts/business-results", :locals => { :results => @category.businesses } %>