<p id="notice"><%= notice %></p>

<i>Category</i>
<h1><%= @category.name %></h1>

<p>
	<strong>subcategories</strong>
</p>
<div>
	<% @category.subcategories.each do |subcat| %>
	  <%= link_to subcat.name, subcat %>
	<% end %>
 </div>

<p>
	<strong>Businesses</strong>
</p>

<table>
	<thead>
		<tr>
			<th>Category</th>
			<th>Subcategory</th>
			<th>Name</th>
			<th>Description</th>
			<th>Address</th>
			<th>Website</th>
		</tr>
	</thead>

	<tbody>
		<% @category.businesses.each do |business| %>
		  <tr>
		    <td><%= link_to business.category.name, business.category %></td>
		    <td><%= link_to business.subcategory.name, business.subcategory %></td>
		    <td><%= link_to business.name, business %></td>
		    <td><%= business.description %></td>
		    <td><%= business.address + " " + business.street%></td>
		    <td>
		    	<% if business.website? %>
		    		<%= link_to business.website, business.website %>
		    	<% end %>
		    </td>
		  </tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Back', categories_path %>
